@using Microsoft.AspNetCore.Identity
@using SamiPotterOnlineShop.Data.Services
@inject UserManager<ApplicationUser> UserManager
@inject ItemsService ItemService

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sami Potter Online-Shop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SamiPotterOnlineShop.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://fonts.cdnfonts.com/css/harry-potter" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/beautiful-magic" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/harry-p" rel="stylesheet">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3 fixed-top" style="background-color: #f5d376; padding-bottom: 0px; font-family: 'Harry Potter', sans-serif; ">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="text-decoration: none; color: black;"><i class="bi-lightning-fill"></i>  Sami Potter Online-Shop</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Items" asp-action="Index"><i class="badge-info bi-shop"></i>  Items</a>
                        </li>
                        @if (User.Identity.IsAuthenticated && User.IsInRole("User"))
                        {
                            var currentUser = await UserManager.GetUserAsync(User);
                            if (currentUser != null)
                            {
                                var itemId = currentUser.NotifyItemId;
                                var item = await ItemService.GetItemByIdAsync(itemId);

                                if (item != null)
                                {
                                    if (currentUser != null && currentUser.Notified == true && item.Amount > 0)
                                    {
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle text-danger" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                                               aria-haspopup="true" aria-expanded="false" style="text-decoration: none; color: black;">
                                                <i class="bi bi-bell-fill"></i>
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                <a class="dropdown-item" href="@Url.Action("Details", "Items", new { id = itemId })">@item.Name is back in stock!</a>
                                            </div>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                                               aria-haspopup="true" aria-expanded="false" style="text-decoration: none; color: black;">
                                                <i class="bi bi-bell"></i>
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                <span class="dropdown-item disabled">No items back in stock</span>
                                            </div>
                                        </li>
                                    }
                                }
                            }
                            else
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                                       aria-haspopup="true" aria-expanded="false" style="text-decoration: none; color: black;">
                                        <i class="bi bi-bell"></i>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <span class="dropdown-item disabled">No items back in stock</span>
                                    </div>
                                </li>
                            }
                        }

                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false" style="text-decoration: none; color: black;">
                                    <i class="bi bi-gear"></i> Management
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" asp-controller="Warehouses" asp-action="Index"><i class="bi bi-house-gear"></i> Warehouses</a>
                                    <a class="dropdown-item" asp-controller="Producers" asp-action="Index"><i class="bi bi-headset"></i> Producers</a>
                                    <a class="dropdown-item" asp-controller="Actors" asp-action="Index"><i class="bi bi-person-square"></i> Actors</a>
                                </div>
                            </li>
                        }
                    </ul>
                    @if (ViewContext.RouteData.Values["controller"].ToString() != "Home" && ViewContext.RouteData.Values["controller"].ToString() != "Account")
                    {
                        <form class="form-check-inline my-2 my-lg-0" asp-controller="Items" asp-action="Filter">
                            <div class="input-group">
                                <input name="searchString" type="text" class="form-control" placeholder="Search for an Item...">
                                <div class="input-group-append">
                                    <button class="btn btn-success" type="submit"><i class="bi bi-search"></i></button>
                                </div>
                            </div>
                        </form>
                    }

                    <ul class="navbar-nav">
                        @await Component.InvokeAsync("ShoppingCartSummary")
                    </ul>
                    <partial name="_Identity.cshtml" />
                </div>
            </div>
        </nav>
    </header>

    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>